input[type=text] {
  width: 100%;
}
.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 291px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  margin: 35px 193px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  margin: -36px auto 0 118px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px auto 0;
}

.u-section-1 .u-form-3 {
  margin: -42px auto 0 120px;
  width: 250px;
  text-align: left;
}

.u-section-1 .u-form-4 {
  margin: -25px 80px 0 auto;
  width: 250px;
  text-align: left;
}

.u-section-1 .u-text-5 {
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  margin: 15px auto -67px 120px;
}

.u-section-1 .u-text-6 {
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  margin: 40px 277px -65px auto;
}

.u-section-1 .u-form-7 {
  margin: 70px auto 0 120px;
  width: 250px;
  text-align: left;
}

.u-section-1 .u-form-8 {
  margin: -30px 80px 0 auto;
  width: 250px;
  text-align: left;
}

.u-section-1 .u-line-1 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 26px;
  transform-origin: right center 0px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 630px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-9 {
  font-weight: normal;
  font-size: 20px;
  margin: -60px auto 0 180px;
}

.u-section-1 .u-form-10 {
  margin: 15px auto 0 120px;
  width: 180px;
  text-align: left;
}

.u-section-1 .u-text-11 {
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  margin: 20px auto 0 172px;
}

.u-section-1 .u-form-12 {
  margin: 15px auto 0 160px;
  width: 80px;
  text-align: left;
}

.u-section-1 .u-text-13 {
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  margin: 35px auto 0 185px;
}

.u-section-1 .u-text-200 {
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  margin: 35px auto 0 135px;
}

.u-section-1 .u-text-201 {
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  margin-right: 142px;
  margin: 35px auto auto 290px;  
}

.u-section-1 .u-text-202 {
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  margin: 25px auto 0 135px;
}

.u-section-1 .u-form-200 {
  margin: 15px auto 0 135px;
  width: 80px;
  text-align: left;
}

.u-section-1 .u-form-201 {
  margin: 15px auto 0 135px;
  width: 150px;
  text-align: left;
}

.u-section-1 .u-form-300 {
  margin: 15px auto 0 135px;
  width: 40px;
  display: inline-block; 
  text-align: left;
}

.u-section-1 .u-form-301 {
  margin: 15px auto 0 135px;
  width: 150px;
  margin-left: 50px;
  display: inline-block; 
  text-align: left;
}

.u-section-1 .u-form-302 {
  margin: 15px auto 0 135px;
  width: 40px;
  display: inline-block; 
  text-align: left;
}

.u-section-1 .u-form-303 {
  margin: 15px auto 0 135px;
  width: 150px;
  margin-left: 50px;
  display: inline-block; 
  text-align: left;
}


.u-section-1 .u-text-100 {
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  margin: 25px 265px 0 auto;
}

.u-section-1 .u-text-101 {
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  margin: 25px auto 0 320px;
}

.u-section-1 .u-form-14 {
  text-align: center;
  margin: 15px auto 0 183px;
  width: 50px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 0 189px;
  padding: 8px 16px 8px 15px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 15px auto 0 191px;
  padding: 8px 16px 8px 15px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 630px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-15 {
  text-align: left;
  font-size: 20px;
  margin: -60px 165px 0 auto;
}

.u-section-1 .u-form-16 {
  margin: 15px 100px 0 auto;
  width: 180px;
  text-align: left;
}

.u-section-1 .u-text-17 {
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  margin: 20px 172px 0 auto;
}

.u-section-1 .u-form-18 {
  margin: 15px 155px 0 auto;
  width: 80px;
  text-align: left;
}

.u-section-1 .u-form-202 {
  margin: 15px auto 0 290px;
  width: 80px;
  text-align: left;
}

.u-section-1 .u-form-203 {
  margin: 15px auto 0 290px;
  width: 150px;
  text-align: left;
}

.u-section-1 .u-text-19 {
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  margin: 35px 185px 0 auto;
}

.u-section-1 .u-form-20 {
  margin: 15px 187px 0 auto;
  width: 50px;
  text-align: center;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px 191px 0 auto;
  padding: 8px 16px 8px 15px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 15px 195px 0 auto;
  padding: 8px 16px 8px 15px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: center;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -520px auto 0;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  align-self: center;
  margin: -310px auto 0;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 40px auto 95px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: center;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 50px auto 0;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: center;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 300px auto 0;
}

.u-section-1 .u-text-21 {
  font-weight: normal;
  text-align: left;
  font-size: 20px;
  width: 86px;
  margin: -550px 517px -20px auto;
}

.u-section-1 .u-form-22 {
  margin: 26px auto 60px;
  width: 250px;
  text-align: center;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 519px;
  }
  
  .u-section-1 .u-text-10 {
    margin-left: 120px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 120px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 119px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 89px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 91px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 519px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 142px;
  }


  .u-section-1 .u-btn-4 {
    margin-right: 91px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 88px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 88px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 100px;
    text-align: right;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 109px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 109px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 115px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 116px;
  }

   .u-section-1 .u-text-22 {
      margin-right: 116px;
    }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-left: 86px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 113px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 113px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 72px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 73px;
  }
}

.dropdown1 {
    width:50px;
    text-align: center;
    margin: 10px auto 0 185px;
}

.dropdown2 {
    width:50px;
    text-align: center;
    margin: 10px 173px 0 330px;
}