.mediaViewInfo {
	--web-view-name: Event Page;
	--web-view-id: event_page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: event_page;
	--secondary-background: rgb(77,82,99);
	--medium-black: rgb(61,62,81);
	--slate-gray: rgb(50,57,73);
	--light-gray: rgb(76,82,101);
	--black-bg: rgb(33,33,41);
	--link-color: rgb(247,198,0);
	--header-color: rgb(33,33,41);
	--background-color: rgb(33,33,40);
	--button-color: rgb(234, 175, 65);
	--button-color-selected: rgb(0, 143, 50);
	--input-field-color: rgb(205, 205, 205);
	--danger: rgb(114,19,19);
	--p1-color:rgb(170, 0, 0);
	--p2-color:rgb(0, 102, 203);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	color: rgb(237, 244, 255);
	font-family: 'Noto Serif Vithkuqi', serif;
}

a, a:hover, a:visited, a:active {
	color: inherit;
	text-decoration: none;
   }

.container {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
#event_page {
	width: 100vw;
	height: 100vh;
	overflow: visible;
	--web-view-name: Event Page;
	--web-view-id: event_page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#background {
	fill: var(--background-color);
}
.background {
	overflow: visible;
	position: absolute;
	width: 100%;
	height: 1080px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#grid_bottom_bar {
	fill: rgb(34, 34, 34);
}
.grid_bottom_bar {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 61px;
	left: 0px;
	top: 1019px;
}
#grid_top_bar {
	fill: var(--header-color);
}
.grid_top_bar {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 61px;
	left: 0px;
	top: 0px;
}
.header-item {
	white-space: nowrap;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	padding: 0px 20px 20px 0px;
	color: var(--link-color);
}
.top-navbar-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100vw;
	height: 50px;
	background-color: var(--black-bg);
}
#Commentators {
	/* left: 696px;
	top: 11.739px;
	position: absolute;
	overflow: visible;
	width: 133px; */
	display: flex;
	overflow: visible;
	position: relative;
}
#Top_8 {
	position: relative;
	display: flex;
	overflow: visible;
}
#Event_Dashboard {
	position: relative;
	display: flex;
	overflow: visible;
}
#ABOUT {
	position: flex;
	overflow: visible;
	width: 43px;
	text-decoration: underline;
	margin-top: -2px !important;
	font-size: 20px !important;
}
/* EVENT DASHBOARD START */
.event-dashboard-content{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	align-items: center;
	background-color: var(--black-bg);
}

#grid_background {
	fill: var(--background-color);
}
.grid_background {
	position: relative;
	overflow: visible;
	width: 100%;
	height: 100%;
}
/* ROUND ITEM */

.event-dashboard-grid-item {
	fill: var(--secondary-background);
	stroke: rgb(16, 16, 16);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}

#eventDashText {
	color: rgb(255, 255, 255);
	text-shadow: rgba(232, 232, 232, 0.7) 1px 3px 10px;
}

.text-shadow {
	text-shadow: rgba(0, 0, 0, 0.8) 2px 2px 4px;
}

.dashboard-header {
	display: flex;
	width: 45%;
	height: 80px;
	align-items: center;
	justify-content: center;
	background-color: var(--slate-gray);
	border-radius: 15px 15px 0px 0px;
	border-bottom: 5px solid rgb(38, 38, 42);
}

.grid_round {
	position: relative;
	display: flex;
	flex-direction: row;
}
.round-section-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	padding: 15px 0px;
	border: 1px solid black;
}
.header-type {
	margin-bottom: 10px;
}
.round-contents {
	display: flex;
	align-items: center;
	padding: 10px;
}
.contents-item {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}
.contents-item-dropdown {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px 20px;
}

/* CURRENT MATCH SECTION */

.matchMetaDataContainer {
	display: flex;
	flex-direction: row;
	height: 350px;
	width: 60%;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgb(92, 103, 134) 50%, rgba(255,255,255,0) 100%);
	padding: 20px 15px;
}

.matchItem {
	display: flex;
	flex-grow: .8;
	flex-shrink: 0;
	flex-basis: auto;
	align-items: center;
	flex-direction: column;
}

.playerCard-p1 {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 90%;
	overflow: auto;
	background-color: var(--p1-color);
	border-radius: 20px;
	padding-top: 10px;
	box-shadow: 5px 5px 2px rgba(58, 0, 0, 0.4);
}

.playerCard-p2 {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 90%;
	background-color: var(--p2-color);
	border-radius: 20px;
	padding-top: 10px;
	box-shadow: -5px 5px 2px rgba(2, 0, 70, 0.4);
}

#text_1p {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}

#text_2p {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}

.playerCardItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 10px 0px 0px 0px;
}

.cardScoreContainer { 
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cardScoreItem {
	display: flex;
	flex-direction: row !important;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
	width: 35%;
}

.scoreButton {
	display: flex;
	background-color: var(--button-color);
	border-radius: 50%;
	font-size: 2em;
	width: 35px;
	height: 35px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.scoreButton:hover {
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);
	transform: scale(107%);
}

.minus {
	position: relative;
	top: -3px;
}

.currentMatchInfoDisplay {
	display: flex;
	flex-grow: 0.5;
	flex-shrink: 1;
	flex-basis: auto;
	flex-direction: column;
	height: 80%;
	align-items: center;
	flex-direction: column;
}

.matchInfoCenterDisplay {
	display: flex;
	flex-direction: column;
	height: 50%;
	width: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	padding: 0px 20px;
	border-top: 2px solid var(--black-bg);
	border-bottom: 2px solid var(--black-bg);
	background-color: rgba(0, 0, 0, 0.5);
}

.playerInfoDisplay {
	display: flex;
	flex-direction: column;
	text-align: center;
	word-wrap: normal;
	padding: 20px 0px;
}

/* LAST SECTION */

.finalSectionHeaderText {
	font-size: 24px;
	padding: 10px 0px;
}

.extraSectionContainer {
	display: flex;
	flex-direction: row;
	height: auto;
	width: 60%;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgb(0, 34, 107) 50%, rgba(255,255,255,0) 100%);
	border-radius: 5px;
}

.leftSectionContainer {
	display: flex;
	flex: .5;
	flex-direction: column;
}

.fetchContainer {
	display: flex;
	flex: 0.2;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid black;
	padding: 15px 0px;
}

.ftContainer {
	display: flex;
	flex: 0.2;
	flex-direction: column;
	align-items: center;
	border: 1px solid black;
	padding: 12px 0px;
}

#text_startgg {
	overflow: visible;
	white-space: nowrap;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgb(0, 0, 0);
}

/* NEXT ROUND */

.nextRoundContainer {
	display: flex;
	flex-direction: column;
	flex: 1.5;
	align-items: center;
}

#ftx {
	margin-top: 10px;
}

.nextRoundConsoleContainer {
	display: flex;
	width: 100%;
	flex-direction: row !important;
	justify-content: center;
	align-items: center;
}

.nextRound-1p {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	height: auto;
	padding: 15px 20px;
	margin: 0px 40px 20px 40px;
	border-radius: 20px;
	background-color: var(--p1-color);
	box-shadow: 5px 5px 2px rgba(58, 0, 0, 0.4);
}

.nextRound-2p {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	height: auto;
	padding: 15px 20px;
	margin: 0px 40px 20px 40px;
	border-radius: 20px;
	background-color: var(--p2-color);
	box-shadow: -5px 5px 2px rgba(2, 0, 70, 0.4);
}

.nextRoundItem {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0px 0px;
}

.resultsContainer {
	display: flex;
	flex-direction: column;
	flex: .5;
	align-items: center;
	border: 1px solid black;
	padding: 15px 0px;
}

.grid_next_round {
	overflow: visible;
	width: 260px;
	height: 302px;
}
.grid_results {
	overflow: visible;
	width: 230px;
	height: 304px;
}
#button_next_round {
	width: 100px;
	height: 30px;
	overflow: visible;
	margin-left: 50px;
	margin-right: 50px;
	align: center;
}
#button_fetch_next_players {
    margin-right: 55px;
    margin-bottom: 15px;
	width: 100px;
	height: 30px;
	overflow: visible;
	align: center;
}
#button_remove_next_players {
    margin-top: 5px;
    margin-right: 55px;
	width: 100px;
	height: 30px;
	overflow: visible;
	align: center;
	margin-bottom: 15px;
}
#button_clear_next_players {
    margin-top: 5px;
    margin-right: 55px;
	width: 100px;
	height: 30px;
	overflow: visible;
	align: center;
}
#METADATA {
	display: none;
	left: -803.378px;
	top: -448.839px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#Next_Round {
	width: 100px;
	height: 30px;
	overflow: visible;
}
#rectangle_button {
	fill: rgba(103,82,103,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
#rectangle_button_1 {
	fill: rgba(103,82,103,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
#rectangle_button_2 {
	fill: rgba(103,82,103,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
#rectangle_button_3 {
	fill: rgba(103,82,103,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
#rectangle_button_4 {
	fill: rgba(103,82,103,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
#rectangle_button_5 {
	fill: rgba(103,82,103,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
#rectangle_button_6 {
 	fill: rgba(103,82,103,1);
 	stroke: rgba(0,0,0,0);
 	stroke-width: 1px;
 	stroke-linejoin: miter;
 	stroke-linecap: butt;
 	stroke-miterlimit: 4;
 	shape-rendering: auto;
	font-size: 1em;
 }
 #rectangle_button_7 {
 	fill: rgba(103,82,103,1);
 	stroke: rgba(0,0,0,0);
 	stroke-width: 1px;
 	stroke-linejoin: miter;
 	stroke-linecap: butt;
 	stroke-miterlimit: 4;
 	shape-rendering: auto;
 }
 #rectangle_button_startgg_stream_queue {
  	fill: rgba(103,82,103,1);
  	stroke: rgba(0,0,0,0);
  	stroke-width: 1px;
  	stroke-linejoin: miter;
  	stroke-linecap: butt;
  	stroke-miterlimit: 4;
  	shape-rendering: auto;
 	font-size: 1em;
 	margin-right: 50px;
  }
 #rectangle_button_startgg_fetch_top_8_results {
  	fill: rgba(103,82,103,1);
  	stroke: rgba(0,0,0,0);
  	stroke-width: 1px;
  	stroke-linejoin: miter;
  	stroke-linecap: butt;
  	stroke-miterlimit: 4;
  	shape-rendering: auto;
 	font-size: 1em;
 	margin-right: 50px;
  }
.bottom-button-container {
  display: flex;
}
.bottom-button-container rectangle_button {
  padding: 10px 20px;
}
.rectangle_button {
	overflow: visible;
	width: auto;
	height: auto;
	padding: 10px 10px;
	margin: 5px 0px;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.2);
	background-color: var(--button-color);
}
.rectangle_button:hover {
	transform: translateY(2px);
	box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.8);
}
.rectangle_button:active {
  background-color: #675267;
  transform: translateY(2px);
}

#rectangle_button_small {
	fill: rgba(103,82,103,1);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.rectangle_button_small {
	overflow: visible;
	background-color: #675267;
	cursor: pointer;
}
.rectangle_button_small:hover {
	transform: translateY(-2px);
	background-color: #AC8FAC;
}
.rectangle_button_small:active {
  background-color: #675267;
  transform: translateY(2px);
}
#text_next_round {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
#button_reverse_names {
	overflow: visible;
	margin-bottom: 10px;
}
#METADATA_z {
	display: none;
	left: -878.378px;
	top: -470px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#text_reverse_names {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
#text_round {
	display: flex;
	position: relative;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(0,0,0,1);
}

#dropdown_round option {
	color: black;
}

#dropdown_next_round option {
	color: black;
}

#next_round {
    padding-bottom: 10px;
}

.dropdown_round {
	overflow: visible;
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
    text-align: center;
    height: auto;
    padding: 5px 0px;
    font-size: 14px;
    color: black;
}
#CASUALS {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#text_current_match {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 5px;
	font-size: 28px;
	text-shadow: rgba(232, 232, 232, 0.7) 1px 3px 10px;
}
#currentPlayerInfoDisplay {
	opacity: 1;
	transition: opacity 1s ease-in-out;
	white-space: nowrap;
	text-shadow: rgba(232, 232, 232, 0.7) 1px 3px 10px;
}
#currentScoreInfoDisplay {
	opacity: 1;
	transition: opacity 1s ease-in-out;
	white-space: nowrap;
	text-shadow: rgba(232, 232, 232, 0.7) 1px 3px 10px;
}
#text_name {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#text_team {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#text_country {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#text_score {
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#button_reset_all {
	overflow: visible;
}
#METADATA_bf {
	display: none;
	left: -878.378px;
	top: -454.839px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#text_reset_all {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
#button_reset_names_scores {
	overflow: visible;
}
#METADATA_bj {
	display: none;
	left: -878.378px;
	top: -454.839px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#text_reset_names_scores {
	left: 5px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
}
#form_name_1p {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.form_name_1p {
	overflow: visible;
	width: 130px;
	height: 25px;
}
#form_name_2p {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.form_name_2p {
	overflow: visible;
	width: 130px;
	height: 25px;
}
#form_team_1p {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.form_team_1p {
	overflow: visible;
	width: 130px;
	height: 25px;
}
#form_team_2p {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.form_team_2p {
	overflow: visible;
	width: 130px;
	height: 25px;
}
#form_score_1p {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	text-align: center;
}
.form_score_1p {
	overflow: visible;
	width: 30px;
	height: 25px;
}
#form_score_2p {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	text-align: center;
}
.form_score_2p {
	overflow: visible;
	width: 30px;
	height: 25px;
}
#button_score_sub_2p {
	overflow: visible;
}
#METADATA_bu {
	display: none;
	left: -174.799px;
	top: -291.824px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#text_sub_2p {
	left: 6px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
#button_score_add_1p {
	width: 20px;
	height: 29px;
	overflow: visible;
}
#METADATA_bz {
	display: none;
	left: -165.799px;
	top: -192.647px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#text_plus_1p {
	left: 5px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}

#METADATA_b {
	display: none;
	left: -174.799px;
	top: -291.824px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#text_sub_1p {
	left: 6px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
#button_score_add_2p {
	overflow: visible;
}
#METADATA_ca {
	display: none;
	left: -165.799px;
	top: -252.434px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#text_plus_2p {
	left: 5px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 11px;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(255,255,255,1);
}
#button_reverse_scores {
	overflow: visible;
}
#METADATA_ce {
	display: none;
	left: -878.378px;
	top: -470px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#text_reverse_scores {
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
#button_reset_scores {
	overflow: visible;
}
#METADATA_ci {
	display: none;
	left: -878.378px;
	top: -470px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#text_reset_scores {
	left: 20px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	color: rgba(255,255,255,1);
}
#dropdown_country_1p {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	height: auto;
	padding: 0px 8px;
	font-size: .8em;
	color: black;
}
#dropdown_country_1p option {
	color: black;
}
.dropdown_country_1p {
	overflow: visible;
	font-size: 12px;
}
#US {
	left: 740px;
	top: 311.135px;
	position: absolute;
	overflow: visible;
	width: 13px;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#Icon_ionic-md-arrow-dropdown_co {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-arrow-dropdown_co {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 9px;
	left: 758px;
	top: 316.135px;
	transform: matrix(1,0,0,1,0,0);
}
#dropdown_country_2p {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	padding: 0px 8px;
	font-size: .8em;
	color: black;
}
#dropdown_country_2p option{
	color: black;
}
.dropdown_country_2p {
	overflow: visible;
}
#US_cq {
	left: 1152px;
	top: 313.135px;
	position: absolute;
	overflow: visible;
	width: 13px;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(0,0,0,1);
}
#Icon_ionic-md-arrow-dropdown_cr {
	fill: rgba(0,0,0,1);
}
.Icon_ionic-md-arrow-dropdown_cr {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 9px;
	left: 1170px;
	top: 318.135px;
	transform: matrix(1,0,0,1,0,0);
}
#text_next_round_cs {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#text_next_round_1p {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	padding-bottom: 10px;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#form_next_round_name_1p {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.form_next_round_name_1p {
	overflow: visible;
	width: 130px;
	height: 25px;
}
#form_next_round_team_1p {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.form_next_round_team_1p {
	overflow: visible;
	width: 130px;
	height: 25px;
}
#text_next_round_name_1p {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	color: rgba(0,0,0,1);
}
#text_next_round_team_1p {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	color: rgba(0,0,0,1);
}
#text_next_round_2p {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	padding-bottom: 10px;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#form_next_round_name_2p {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.form_next_round_name_2p {
	overflow: visible;
	width: 130px;
	height: 25px;
}
#form_next_round_team_2p {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.form_next_round_team_2p {
	overflow: visible;
	width: 130px;
	height: 25px;
}
#text_next_round_name_2p {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	color: rgba(0,0,0,1);
}
#text_next_round_team_2p {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	color: rgba(0,0,0,1);
}
#text_results {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#text_results_1p {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#form_results_name_1p {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.form_results_name_1p {
	overflow: visible;
	width: 130px;
	height: 25px;
}
#form_results_score_1p {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	text-align: center;
}
.form_results_score_1p {
	overflow: visible;
	width: 30px;
	height: 25px;
}
#text_results_2p {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#form_results_name_2p {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.form_results_name_2p {
	overflow: visible;
	width: 130px;
	height: 25px;
}
#form_results_score_2p {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	text-align: center;
}
.form_results_score_2p {
	overflow: visible;
	width: 30px;
	height: 25px;
}
#grid_replays {
	fill: var(--secondary-background);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.grid_replays {
	position: absolute;
	overflow: visible;
	width: 170px;
	height: 156px;
	left: 640px;
	top: 493.135px;
}
#METADATA_dd {
	display: none;
	left: -803.378px;
	top: -448.839px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#icon_play {
	fill: rgba(255,255,255,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.icon_play {
	overflow: visible;
	width: 11.5px;
	height: 13.929px;
	transform: matrix(1,0,0,1,0,0);
}
#METADATA_dj {
	display: none;
	left: -803.378px;
	top: -448.839px;
	position: absolute;
	overflow: hidden;
	width: 11px;
	height: 10px;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 3px;
}
#icon_stop {
	fill: rgba(255,255,255,1);
}
.icon_stop {
	overflow: visible;
	width: 12.5px;
	height: 12.5px;
	transform: matrix(1,0,0,1,0,0);
}
#form_ft {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	text-align: center;
}
.form_ft {
	overflow: visible;
	width: 30px;
	height: 25px;
}
#text_ft {
	overflow: visible;
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
}
#line_commentators {
	opacity: 0.5;
	fill: rgba(0,0,0,0);
	stroke: var(--link-color);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.line_commentators {
	overflow: visible;
	position: absolute;
    width: 150px;
    height: auto;
	left: 696px;
	top: 49.008px;
	transform: matrix(1,0,0,1,0,0);
}
#line_event_dashboard {
	opacity: 0.5;
	fill: rgba(0,0,0,0);
	stroke: var(--link-color);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.line_event_dashboard {
	overflow: visible;
	position: absolute;
    width: 175px;
    height: auto;
	left: 892.5px;
	top: 49.008px;
	transform: matrix(1,0,0,1,0,0);
}
#line_top8 {
	opacity: 0.5;
	fill: rgba(0,0,0,0);
	stroke: var(--link-color);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.line_top8 {
	overflow: visible;
	position: absolute;
	width: 60px;
	height: 2px;
	left: 1150px;
	top: 49.008px;
	transform: matrix(1,0,0,1,0,0);
}
#line_about {
	opacity: 0.5;
	fill: rgba(0,0,0,0);
	stroke: var(--link-color);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.line_about {
	overflow: visible;
	position: absolute;
	width: 42px;
	height: 2px;
	left: 948px;
	top: 1064.261px;
	transform: matrix(1,0,0,1,0,0);
}
.horizontal-button-container {
    display: flex;
    gap: 10px; /* Adds space between buttons */
}
.form-center-align {
    text-align: center;
}
.events-with-stats-dropdown {
    box-sizing: border-box;
    overflow: visible;
    padding: 5px;
    width: 170px;
}
#eventStatsSelect {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    shape-rendering: auto
    color: black;
}
#dropdown_country_next1 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	padding: 0px 8px;
	font-size: .8em;
	color: black;
}
#dropdown_country_next1 option {
	color: black;
}
.dropdown_country_next1 {
	overflow: visible;
}
#dropdown_country_next2 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	padding: 0px 8px;
	font-size: .8em;
	color: black;
}
#dropdown_country_next2 option {
	color: black;
}
.dropdown_country_next2 {
	overflow: visible;
}
#button_text {
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	color: white;
	fill: rgba(255,255,255,1);
}
#button_text_2 {
	text-align: center;
	font-style: normal;
	font-weight: normal;
		color: white;
	fill: rgba(255,255,255,1);
}
#button_text_4 {
	white-space: nowrap;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	color: white;
	fill: rgba(255,255,255,1);
}
input[type=text], select {
	padding: 15px 5px;
	display: inline-block;
	border: 1px solid black;
	border-radius: 5px;
	box-sizing: border-box;
	color: black;
}
datalist {
    display: block;
}