@font-face {
	font-family: vox, sans-serif;
}

#r1_p1 {
	text-align: left;
	width: 400px;
}

#r1_p2 {
	text-align: left;
	width: 400px;
}

#r2_p1 {
	text-align: left;
	width: 400px;
}

#r2_p2 {
	text-align: left;
	width: 400px;
}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#r1_n1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  bottom: 743px;
  left: 230px;
  display:inline-block;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r1_s1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  left: 475px;
  top: 276px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r1_n2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 342px;
  display:inline-block;
  left: 230px;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r1_s2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  left: 475px;
  top: 335px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r2_n1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 469px;
  left: 230px;
  display:inline-block;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r2_s1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  left: 475px;
  top: 464px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r2_n2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 529px;
  display:inline-block;
  left: 230px;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r2_s2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  left: 475px;
  top: 523px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r3_n1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 698px;
  left: 230px;
  display:inline-block;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r3_s1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 693px;
  left: 475px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r3_n2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 758px;
  left: 230px;
  display:inline-block;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r3_s2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 752px;
  left: 475px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r4_n1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 887px;
  left: 230px;
  display:inline-block;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r4_s1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 882px;
  left: 475px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r4_n2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 947px;
  left: 230px;
  display:inline-block;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r4_s2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 941px;
  left: 475px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r5_n1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 378px;
  left: 665px;
  display:inline-block;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r5_s1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 373px;
  left: 906px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r5_n2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 437px;
  left: 665px;
  display:inline-block;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r5_s2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 431px;
  left: 906px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r6_n1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 698px;
  left: 665px;
  display:inline-block;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r6_s1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 693px;
  left: 906px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r6_n2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 758px;
  left: 665px;
  display:inline-block;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r6_s2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 752px;
  left: 906px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r7_n1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 887px;
  left: 665px;
  display:inline-block;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r7_s1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 882px;
  left: 906px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r7_n2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 946px;
  left: 665px;
  display:inline-block;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r7_s2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 941px;
  left: 906px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r8_n1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 795px;
  left: 1095px;
  display:inline-block;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r8_s1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 791px;
  left: 1337px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r8_n2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 854px;
  left: 1095px;
  display:inline-block;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r8_s2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 850px;
  left: 1337px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r9_n1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 698px;
  left: 1531px;
  display:inline-block;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r9_s1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 694px;
  left: 1772px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r9_n2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 757px;
  left: 1531px;
  display:inline-block;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r9_s2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 753px;
  left: 1772px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r10_n1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 383px;
  left: 1095px;
  display:inline-block;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r10_s1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 380px;
  left: 1337px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r10_n2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 10px 0 3px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 442px;
  left: 1095px;
  display:inline-block;
  font-size: 30px;
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}

#r10_s2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  text-decoration-color: #FFFFFF;
  position: fixed;
  top: 438px;
  left: 1337px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r10_s1_2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  position: fixed;
  top: 380px;
  left: 1400px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r10_s2_2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  text-align: left;
  padding: 5px 0 5px;
  position: fixed;
  top: 438px;
  left: 1400px;
  font-size: 45px;
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

#r1_c1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 160px;
  top: 288px;
  width: 55px;
  height: auto;
}

#r1_c2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 160px;
  top: 347px;
  width: 55px;
  height: auto;
}

#r2_c1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 160px;
  top: 476px;
  width: 55px;
  height: auto;
}

#r2_c2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 160px;
  top: 535px;
  width: 55px;
  height: auto;
}

#r3_c1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 160px;
  top: 706px;
  width: 55px;
  height: auto;
}

#r3_c2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 160px;
  top: 764px;
  width: 55px;
  height: auto;
}

#r4_c1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 160px;
  top: 895px;
  width: 55px;
  height: auto;
}

#r4_c2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 160px;
  top: 953px;
  width: 55px;
  height: auto;
}

#r5_c1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 592px;
  top: 385px;
  width: 55px;
  height: auto;
}

#r5_c2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 592px;
  top: 444px;
  width: 55px;
  height: auto;
}

#r6_c1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 592px;
  top: 706px;
  width: 55px;
  height: auto;
}

#r6_c2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 592px;
  top: 764px;
  width: 55px;
  height: auto;
}

#r7_c1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 592px;
  top: 895px;
  width: 55px;
  height: auto;
}

#r7_c2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 592px;
  top: 953px;
  width: 55px;
  height: auto;
}

#r8_c1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 1021px;
  top: 802px;
  width: 55px;
  height: auto;
}

#r8_c2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 1021px;
  top: 861px;
  width: 55px;
  height: auto;
}

#r9_c1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 1456px;
  top: 706px;
  width: 55px;
  height: auto;
}

#r9_c2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 1456px;
  top: 765px;
  width: 55px;
  height: auto;
}

#r10_c1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 1021px;
  top: 391px;
  width: 55px;
  height: auto;
}

#r10_c2 {
  animation-duration: 2s;
  animation-name: fadeIn;
  padding: 5px 0 5px;
  position: fixed;
  left: 1021px;
  top: 450px;
  width: 55px;
  height: auto;
}

.scores {
  font-family: vox, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px #3D0707  
}

.names {
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
  width: 220px;
  vertical-align: middle;
}

.current_match {
	animation: flash 1s infinite;
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

span + span {
  margin-left: 33%;
}

span {
  font-family: vox, sans-serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-shadow: 2px 2px 4px #FFFFFF;
}
