@font-face {
    font-family: "antiquarian-scribe";
}

@font-face {
    font-family: "bradley-djr";
}

#p1Name {
  animation-duration: 1s;
  animation-name: fadeIn;
  text-align: center;
  padding: 10px 0 3px;
  text-decoration-color: #533B2D;
  position: absolute;
  top: 175px;
  width: 100%;
  font-size: 225px;
  font-family: 'bradley-djr', monospace;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#p2Name {
  animation-duration: 3s;
  animation-name: fadeIn;
  text-align: center;
  padding: 10px 0 3px;
  text-decoration-color: #533B2D;
  position: fixed;
  top: 645px;
  display:inline-block;
  width: 100%;
  font-size: 225px;
  font-family: 'bradley-djr', monospace;
}

#p1Team {
  animation-duration: 1s;
  animation-name: fadeIn;
  text-align: center;
  padding: 5px 0 5px;
  text-decoration-color: #533B2D;
  position: fixed;
  width: 100%;
  top: 183px;
  font-size: 90px;
  font-family: 'antiquarian-scribe', monospace;
}

#p2Team {
  animation-duration: 3s;
  animation-name: fadeIn;
  text-align: center;
  padding: 5px 0 5px;
  text-decoration-color: #533B2D;
  position: fixed;
  width: 100%;
  top: 652px;
  font-size: 90px;
  font-family: 'antiquarian-scribe', monospace;
}

span + span {
  margin-left: 33%;
}

span {
  font-family: 'antiquarian-scribe', monospace;
}
