@font-face {
	src: url('../assets/Fonts/Rhinos rocks 1.ttf');
	font-family: "Rhinos-rocks";
}

@font-face {
	src: url('../assets/Fonts/Rocket Brush.otf');
	font-family: "Rocket-Brush";
}

#name1Div {
	text-align: center;
	display: flex;
    flex-direction: column;
	position: absolute;
	top: 800px;
	left: 290px;
	width:450px;
	#border: 3px solid red;
}

#name2Div {
	text-align: center;
	display: flex;
    flex-direction: column;
	position: absolute;
	top: 800px;
	left: 1160px;
	width:450px;
	#border: 3px solid red;
}


#name1 {
	text-align: center;
	padding: 10px 0 3px;
	display:inline-block;
	font-family: Rhinos-rocks;
	font-size: 60px;
	font-style: normal;
	color: white;
	text-shadow: 4px 4px 4px black;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

#name2 {
	text-align: center;
	padding: 10px 0 3px;
	display:inline-block;
	font-size: 60px;
	font-family: Rhinos-rocks;
	font-style: normal;
	color: white;
	text-shadow: 4px 4px 4px black;
}

#soc1 {
	text-align: left;
	color: white;
	font-size: 30px;
	font-family: Rocket-Brush;
	text-shadow: 4px 4px 4px black;
}

#soc2 {
	text-align: left;
	color: white;
	font-size: 30px;
	font-family: Rocket-Brush;
	text-shadow: 4px 4px 4px black;
}

span + span {
  margin-left: 33%;
}

#commentatorBG {
    position: absolute;
    top: 380px;
    width: 100%;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-in.show {
    opacity: 1;
}

inputWithSocial1 {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: white;
}
