@font-face {
	src: url('../resources/Fonts/Rigid Square - ExtraBold.ttf');
	font-family: "RigidSquareExtraBold";
}

@font-face {
	src: url('../resources/Fonts/Rigid Square - Italics.ttf');
	font-family: "RigidSquareItalic";
}

@font-face {
	src: url('../resources/Fonts/Rigid Square - SemiBold.ttf');
	font-family: "RigidSquareSemiBold";
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.resultContainer {
	display: flex;
	flex-direction: row;
	align-items: flex-start
}

.scores {
	-webkit-text-stroke: 1px black;
	opacity: 0;
	font-family: "RigidSquareSemiBold";
}

#results1 {
	position: absolute;
	width: 150px;
	height: 80px;
	line-height: 100px;
	left: 80px;
	top: 450px;
	color: #FFFFFF;
}

#results2 {
	position: absolute;
	width: 150px;
	height: 80px;
	line-height: 100px;
	left: 80px;
	top: 520px;
	color: #FFFFFF;
}

#resultName1 {
	animation-duration: 1s;
	animation-name: fadeIn;	
	right: 30px;
	width: 100px;
	font-size: 32px;
	font-family: "RigidSquareExtraBold";
	white-space: nowrap;
}

#resultName2 {
	animation-duration: 1s;
	animation-name: fadeIn;	
	animation-duration: 1s;
	animation-name: fadeIn;	
	right: 30px;
	width: 100px;
	font-size: 32px;
	font-family: "RigidSquareExtraBold";
	white-space: nowrap;
}

#result1 {
	animation-duration: 1s;
	animation-name: fadeIn;	
	position: absolute;
	left: 267px;
	top: -2px;
	font-size: 50px;
	font-family: "RigidSquareSemiBold";
}

#result2 {
	animation-duration: 1s;
	animation-name: fadeIn;	
	position: absolute;
	top: -2px;
	left: 267px;
	font-size: 50px;
	font-family: "RigidSquareSemiBold";
}

#next1 {
	position: absolute;
	width: 315px;
	height: 100px;
	line-height: 100px;
	left: 80px;
	top: 649px;
	color: #FFFFFF;
	text-align: center;
}

#next2 {
	position: absolute;
	width: 315px;
	height: 100px;
	line-height: 100px;
	left: 80px;
	top: 720px;
	color: #FFFFFF;
	text-align: center;
}

#nextPlayer1 {
	animation-duration: 1s;
	animation-name: fadeIn;	
	text-align: center;
	font-size: 40px;
	font-family: "RigidSquareExtraBold";
	white-space: nowrap;
}

#nextPlayer2 {
	animation-duration: 1s;
	animation-name: fadeIn;	
	text-align: center;
	font-size: 40px;
	font-family: "RigidSquareExtraBold";
	white-space: nowrap;
}

span + span {
  margin-left: 33%;
}

span {
  font-family: 'RigidSquareItalic', monospace;
}

inputWithSocial1 {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: #FFFFFF;
}
